<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.omdroid.DebtCalc"
          android:versionCode="8"
          android:versionName="2.1"
        android:installLocation="auto">
    <uses-sdk android:minSdkVersion="14"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <application
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
        <activity
                android:name="ru.omdroid.DebtCalc.Forms.MainNew"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="ru.omdroid.DebtCalc.Forms.InfoDebt"
                android:label="@string/labelName"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"/>
        <activity
                android:name="ru.omdroid.DebtCalc.Forms.ListPayment"
                android:screenOrientation="portrait"/>
        <activity
                android:name="ru.omdroid.DebtCalc.Forms.ListPaymentDB"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Forms.ResultForm"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".Forms.ListDebt"
                android:screenOrientation="portrait"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver
                android:enabled="true"
                android:name=".Receiver.Receiver"
                android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
